* {
    box-sizing: border-box;
  }

.main-container {
    width: 1024px;
    margin: 0 auto 0 auto; 
}

/* Header and nav bar */

.header {
    /* width: 660; */
    position: relative;
    /* border: solid 4px red; */
    background-color: #ffffff;
    height: 82px;
  }  

.nav-container {
    position: absolute;
    top: 8;
    left: 472px;
    width: 150px;
    height: 81px;
    background:  #4aaaa5;
    /* border: solid 4px blue; */
  }

#jen {
    position: absolute;
    top: 22px;
    left: 5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    margin: 0 auto;
    font-size: 26px;
    text-align: center;
    padding-left: 10px;
    
  }

.nav {
    width: 130%;
    height: 30px;
    position: absolute;
    top: 0;
    float: left;
    /* bottom: 10px; */
    /* right: 200px; */
    left: 782px;
    margin-right: 20px;
    margin-top: 20px;
    /* border: solid 4px blue; */
  }

  .clearfix :: after {
    content: "";
    display: block;
    clear: both;
  }

  /* Content */

  .wrapper {
    clear: both;
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: #ffffff;
  }

  .container {
    clear: both;
    position: relative;
    /* border: 5px solid red; */
    height: 680px;
    margin-top: 40px;
    /* background: #ffffff; */
    /* background: green; */
  }

  .apps {
    /* Absolute Position */
    position: absolute;
    width: 960px;
  }  

  #portfolio-header {
    position: absolute;
    top: 95px;
    width: 920px;
    color: #4aaaa5;
    background: #ffffff;
    /* background: yellow; */
    align-content: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* font-size: 26px; */
    line-height: 50px;
    /* border-bottom: 2px solid #cccccc;  */
  }

  .app1 {
    width: 200px;
    height: 200px;
    top: 60px;
    left: 40px;
  }
  
  .app2 {
    width: 200px;
    height: 200px;
    top: 60px;
    left: 320px;
  }
  
  .app3 {
    width: 200px;
    height: 200px;
    bottom: 100px;
    left: 320px;
  }
  
  .app4 {
    width: 200px;
    height: 200px;
    bottom: 100px;
    left: 40px;
  }

  #app-label1 {
      position: absolute;
      top: 200px;
      left: 40px;
      color: #777777;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      padding: 10px;
      color: #ffffff;
      background:#4aaaa5;
      width: 200px;
      text-align: center;
      font-weight: bold;
  }

  #app-label2 {
    position: absolute;
    top: 200px;
    left: 320px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    color: #ffffff;
    background:#4aaaa5;
    width: 200px;
    text-align: center;
    font-weight: bold;
  }

#app-label3 {
    position: absolute;
    bottom: 108px;
    left: 320px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    color: #ffffff;
    background:#4aaaa5;
    width: 200px;
    text-align: center;
    font-weight: bold;
  }

#app-label4 {
    position: absolute;
    bottom: 108px;
    left: 40px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    color: #ffffff;
    background:#4aaaa5;
    width: 200px;
    text-align: center;
    font-weight: bold;
  }

  /* Use three @media screen tags, each with one of these max-widths: 
980px, 768px and 640px. */

@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}

@media screen and (max-width: 980px) {
  .main-container {
    width: 90%;
    /* border: solid blue; */
    padding: 0;
    margin: 10px;
  }
  .nav-container {
    width: 100%;
  }
  .wrapper {
    width: 80%;
    margin: 20px; 
    padding: 0px 20px 20px 20px;
    float: none;
    /* border: solid 4px red; */
    border: 2px solid #cccccc;
  }
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .main-container {
    width: 90%;
  }
  .nav-container {
    width: 100%;
  }
  .wrapper {
    width: 95%;
    margin: 10px; 
    padding: 0px 20px 0px 20px;
    margin-left: 50px;
    float: none;
  }
  .footer {
    width: 100%;
}

@media screen and (max-width: 640px) {
  .main-container {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
  }
  .nav-container {
    width: 100%;
  }
  /* tried to make header static like on the other pages but it messed up the layout worse so I took it out */
  /*
  .nav-container {
    position: static; 
    width: 100%;
    margin-bottom: 0;
  }
  .header {
    position: static;
  }
  #jen {
    margin-left: 240px;
    margin-top: 0px;
  } */
  .wrapper {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
    float: none;
  }
  img.ri {
    vertical-align: middle;
}
  .footer {
    width: 100%;
  }
}